.header_page_size{
  max-width: calc(100% - 148px);
  padding-top: 70px;
}
@media screen and (max-width:1024px){
  .header_page_size{
    max-width: calc(100% - 100px);
  }
}
@media screen and (max-width:768px){
  .header_page_size{
    max-width: calc(100% - 60px);
  }
}
@media screen and (max-width:320px){
  .header_page_size{
    padding-top: 30px;
    max-width: 100%;
  }
}
