.comments_page_size{
  max-width: calc(100% - 124px);
}
@media screen and (max-width:1024px){
  .comments_page_size{
    max-width: calc(100% - 100px);
  }
}
@media screen and (max-width:768px){
  .comments_page_size{
    max-width: calc(100% - 60px);
  }
}
@media screen and (max-width:320px){
  .comments_page_size{
    max-width: 100%;
  }
}
